/* Scripts Styles Settings */

.head-flex-box {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    height: 120px;
}

.head-flex {
    display: flex;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    font-family: 'Futura', sans-serif;
}

#navbar ul li {
    margin: 0 10px; /* Add spacing between navbar items */
    font-family: 'Futura', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: rgb(70, 175, 245);
    padding: 50px 15px;
    font-family: 'Futura', sans-serif;
}

battleship-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 186, 241);
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 0px;
    font-family: 'Futura', sans-serif;
}

.cntr-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Futura', sans-serif;
}

.head-flex-box {
    background-color: #3a4b53;
    height: 100px;
}

.head-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-family: 'Futura', sans-serif;
}

h3 {
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Futura', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Futura', sans-serif;
}

.h2-spacing {
    margin-bottom: 0em;
    margin-top: 0.2em;
    font-family: 'Futura', sans-serif;
  }

.divider {
    height: 3px;
    width: 90%;
    background-color: #000; /* Color of the line */
    margin-left: 5%;
    margin-right: 5%; /* Adjust margin as needed */
    margin-top: 10%;
    margin-bottom: 5%;
}

.title-divider {
    height: 5px;
    width: 90%;
    background-color: #000; /* Color of the line */
    margin: 0; /* Adjust margin as needed */
}

.subtitle {
    padding: 0;
}

.battleship-img {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.git-logo {
    width: 40px;
    padding-left: 10px;
}

.return-icon {
    float: right;
    padding-top: 2%;
    padding-bottom: 1%;
}

.return-text {
    float: right;
    padding-top: 3%;
    padding-right: 35px;
    padding-bottom: 0%;
    font-family: 'Futura', sans-serif;
}

p.p-spacing  {
    display: block;
    line-height: 0;
    font-size: 1em;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Futura', sans-serif;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Futura', sans-serif;
}

p {
    line-height: 1.5;
    font-size: 1.05em;
    font-family: 'Futura', sans-serif;
}

li {
    line-height: 2;
    font-size: 1.05em;
    line-height: 1.5;
    font-size: 1.05em;
    font-family: 'Futura', sans-serif;
}

@font-face {
font-family: 'Futura';
src: url('path/to/futura.woff2') format('woff2'),
     url('path/to/futura.woff') format('woff');
}

@media only screen and (max-width: 200px) {
    img {
    width: 25%;
    object-fit: cover;
    }
}