/* PySimpleGUI Styles Settings */

.head-flex-box {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    background-color: #3a4b53;
    height: 120px;
}

.head-flex {
    display: flex;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    font-family: 'Futura', sans-serif;
}

#navbar ul li {
    margin: 0 10px; /* Add spacing between navbar items */
    font-family: 'Futura', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: rgb(70, 175, 245);
    padding: 50px 15px;
    font-family: 'Futura', sans-serif;
}

tkinter-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 186, 241);
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: -100px;
    font-family: 'Futura', sans-serif;
}

.cntr-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Futura', sans-serif;
}

.head-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.tkinter-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Futura', sans-serif;
}

.divider {
    height: 5px;
    width: 90%;
    background-color: #000; /* Color of the line */
    margin: 60px 0; /* Adjust margin as needed */
    font-family: 'Futura';
}

.title-divider {
    height: 5px;
    width: 90%;
    background-color: #000; /* Color of the line */
    margin: 0; /* Adjust margin as needed */
}

.pro-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Futura', sans-serif;
}

.pro-description.indented {
    text-indent: 2em; /* Apply indent */
}

.pro-header {
    margin-top: 5%;
    font-family: 'Futura', sans-serif;
}

.pro-subtitle {
    text-align: center;
    font-family: 'Futura', sans-serif;
}

.pysimp-img1 {
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;  
}

.PySimp-img2 {
    width: 90%;
    align-items: center;
    padding-left: 5%;
}

.pysimp-vid1 {
    width: 80%; /* Max width of the video relative to its container */
    text-align: center;
    margin-top: 5%;
}

.pysimp-vid2 {
    width: 80%; /* Max width of the video relative to its container */
    text-align: center;
    margin-top: 5%;
}

.vid-atr {
    max-width: 50%;
    min-width: 200px;
    height: auto
}

.return-icon {
    float: right;
    padding-top: 100px;
}

.return-text {
    float: right;
    padding-top: 120px;
    padding-right: 20px;
    font-family: 'Futura', sans-serif;
}

h3 {
    line-height: 1.5;
    font-family: 'Futura', sans-serif;
}

p.p-spacing  {
    line-height: 1;
    font-size: 1em;
    font-family: 'Futura', sans-serif;
}

p {
    line-height: 1.5;
    font-size: 1.05em;
    font-family: 'Futura', sans-serif;
  }

.p-spacing {
    margin-bottom: 0em;
    margin-top: 0.2em;
    font-family: 'Futura', sans-serif;
  }

li {
    line-height: 2;
    font-size: 1.05em;
    line-height: 1.5;
    font-size: 1.05em;
    font-family: 'Futura', sans-serif;
}



  @font-face {
    font-family: 'Futura';
    src: url('path/to/futura.woff2') format('woff2'),
         url('path/to/futura.woff') format('woff');
}

  @media only screen and (max-width: 200px) {
      img {
      width: 25%;
      object-fit: cover;
      }
}